<h1>New User</h1>

<%# <form accept-charset="UTF-8" action="/users" method="post"> %>
  <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
  <%# <label for="username">User Name </label> %>
  <%# <input type="text" name="user[username]" id="username"> %>
  <%# <label for="email">Email</label> %>
  <%# <input type="email" name="user[email]" id="email"> %>
  <%# <label for="password">Password</label> %>
  <%# <input type="password" name="user[password]" id="password"> %>
  <%# <input type="submit" value="Create User"> %>
<%# </form> %>

<%# form_tag("/users") do %>
  <%# label_tag(:username, "User Name") %>
  <%# text_field_tag(:username) %>
  <%# label_tag(:email, "Email") %>
  <%# email_field_tag(:email) %>
  <%# label_tag(:password, "Password") %>
  <%# password_field_tag(:password) %>
  <%# submit_tag %>
<%# end %>

<%= form_with model: @user do |form| %>
  <%= form.label(:username, "Your username here") %>
  <%= form.text_field(:username, value: "Ed") %>
  <%= form.label(:email, "Your email") %>
  <%= form.email_field(:email, placeholder: "example@example.com") %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>
